.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
  overflow-y: scroll;
  overflow-x: clip;
  margin: 0 10px;
}

.reverse {
  flex-direction: column-reverse;
}

.centered {
  justify-content: center;
}
